

.menu-h1 {
  color: #a21212;
  font-size: x-large;
}

.productSize {
  font-size: small;
}

.note {
  color: #a21212;
  font-size: small;
  padding: 0 1.5em 0.5em 0;
}

.category-card-header {
  background-color: #75a6df;
}